*~
.DS_Store

slurm*
disk_space*
ugh*
grepslurmerror.txt
unique_grepslurmerror.txt

# tex work files
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.dvi

# archives and packages
*.gz
*.tgz
*.tar
*.zip
*.bz2

# explicitly need to add in data and fig files eg .mat
*.mat
*.png
*.fig
*.pdf
*.nc
*.rtp
*.jac

# directories
MAT
WORKS*
Works*
FIGS*

